@use 'partials/variables' as var;

header{
    align-items: center;
    background-color: var.$color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 2rem;

    h1{
        a{
            color: var.$color-black;
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: 3;
            text-decoration: none;

            &:hover{
                color: var.$color-white;
            }
        }
    }
}